@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(&.dark, .dark *));

:root {
  --background: var(--color-white);
  --foreground: var(--color-neutral-950);
  --primary: var(--color-neutral-950);
  --primary-foreground: var(--color-neutral-50);
  --secondary: var(--color-neutral-200);
  --secondary-foreground: var(--color-neutral-600);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-400);
  --accent: var(--color-yellow-500);
  --accent-foreground: var(--color-neutral-50);
  --prose: var(--color-neutral-600);
  --overlay: hsl(0, 0%, 0%, 0.2);
  --border: var(--color-neutral-200);
  --ring: var(--color-neutral-200);

  --shadow-elevation: 0 0 0 1px rgb(0 0 0 / 4%), 0 2px 12px rgb(0 0 0 / 6%), 0
    8px 36px rgb(0 0 0 / 6%);

  @variant dark {
    --background: var(--color-black);
    --foreground: var(--color-neutral-50);
    --primary: var(--color-neutral-50);
    --primary-foreground: var(--color-neutral-950);
    --secondary: var(--color-neutral-800);
    --secondary-foreground: var(--color-neutral-400);
    --muted: var(--color-neutral-900);
    --muted-foreground: var(--color-neutral-600);
    --accent: var(--color-yellow-400);
    --accent-foreground: var(--color-neutral-950);
    --prose: var(--color-neutral-300);
    --overlay: hsl(0, 0%, 0%, 0.8);
    --border: var(--color-neutral-800);
    --ring: var(--color-neutral-800);

    --shadow-elevation: 0 2px 12px rgb(0 0 0 / 18%), 0 8px 36px rgb(0 0 0 / 32%);

    &.elevation,
    & .elevation {
      --background: var(--color-neutral-900);
      --muted: var(--color-neutral-800);
      --muted-foreground: var(--color-neutral-500);
      --secondary: var(--color-neutral-700);
      --border: var(--color-neutral-800);
      --ring: var(--color-neutral-700);
    }
  }
}

@theme inline {
  --breakpoint-xs: 30rem;

  --font-sans: var(--font-inter), sans-serif;
  --font-sans-feature-settings: "liga" 1, "calt" 1;
  --font-mono: var(--font-jetbrains-mono), monospace;

  --text-base: 0.9375rem;
  --text-sm: 0.8125rem;

  --spacing-outer-gutter: calc(var(--spacing) * 8);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-prose: var(--prose);
  --color-overlay: var(--overlay);
  --color-border: var(--border);
  --color-ring: var(--ring);

  --shadow-elevation: var(--shadow-elevation);
}

@layer base {
  * {
    @apply border-border outline-ring selection:bg-foreground/15;

    &:focus-visible {
      @apply outline-2 outline-offset-0;
    }
  }

  body {
    @apply bg-background text-foreground font-sans antialiased text-base overflow-x-hidden;
  }

  strong {
    @apply font-medium text-foreground;
  }

  a,
  option,
  label,
  *[role="button"],
  button:not([disabled]),
  input:not([disabled]),
  textarea:not([disabled]),
  select:not([disabled]) {
    @apply touch-manipulation;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-muted-foreground;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    @apply hidden;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: var(--spacing-outer-gutter);
  max-width: var(--container-2xl);
}

@utility link {
  @apply transition-colors duration-150 ease-out font-medium text-foreground underline rounded-xs decoration-border decoration-dotted underline-offset-2 hover:decoration-muted-foreground focus-visible:decoration-muted-foreground has-[code]:outline-none focus-visible:has-[code]:[&_code]:outline-2 has-[code]:decoration-secondary-foreground/40 hover:has-[code]:decoration-secondary-foreground/60 focus-visible:has-[code]:decoration-secondary-foreground/60;
}

@utility code-block {
  --shiki-foreground: var(--foreground);
  --shiki-background: var(--muted);
  --shiki-token-link: var(--foreground);
  --shiki-token-comment: var(--secondary-foreground);
  --shiki-token-constant: var(--secondary-foreground);

  --shiki-token-string: var(--color-neutral-800);
  --shiki-token-keyword: var(--color-neutral-500);
  --shiki-token-parameter: var(--color-neutral-700);
  --shiki-token-function: var(--color-neutral-800);
  --shiki-token-string-expression: var(--color-neutral-800);
  --shiki-token-punctuation: var(--color-neutral-700);

  @variant dark {
    --shiki-token-string: var(--color-neutral-200);
    --shiki-token-keyword: var(--color-neutral-500);
    --shiki-token-parameter: var(--color-neutral-300);
    --shiki-token-function: var(--color-neutral-200);
    --shiki-token-string-expression: var(--color-neutral-200);
    --shiki-token-punctuation: var(--color-neutral-300);
  }
}

@utility prose {
  :is(& > h2, & > :not(.not-prose) h2) {
    @apply font-medium mb-3.5;

    &:not(:first-child) {
      @apply mt-8 md:mt-10;
    }
  }

  :is(& > h3, & > :not(.not-prose) h3) {
    @apply font-medium mb-3.5 text-sm;

    &:not(:first-child) {
      @apply mt-5 md:mt-8;
    }
  }

  :is(& > p, & > :not(.not-prose) p) {
    @apply text-prose text-pretty mb-3 leading-[1.6];

    &:not(:last-child) {
      @apply mb-3.5;
    }
  }

  :is(& > code, & > :not(.not-prose) code) {
    @apply font-mono text-[0.875em] bg-muted rounded-[0.375em] px-[0.375em] py-[0.25em] text-secondary-foreground box-decoration-clone;
  }

  :is(& > a, & > :not(.not-prose) a) {
    @apply link;
  }

  .code-block {
    @apply mt-4.5;

    &:not(:last-child) {
      @apply mb-4.5;
    }
  }
}
